<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<th:block th:replace="~{layout/basic::setContent(~{this::content})}">
    <th:block th:fragment="content">
        <h1 class="mt-4">Guestbook List Page
            <a class="btn btn-outline-primary" th:href="@{/guestbook/register}">Register</a>
        </h1>
        <form th:action="@{/guestbook/list}" method="get" id="frmSrch">
            <div class="input-group">
                <div class="input-group-prepend" style="margin-right:10px">
                    <select class="form-control" id="type" name="type">
                        <option th:selected="${pageRequestDTO.type == null}">전체 보기</option>
                        <option value="t" th:selected="${pageRequestDTO.type == 't'}">제목</option>
                        <option value="c" th:selected="${pageRequestDTO.type == 'c'}">내용</option>
                        <option value="w" th:selected="${pageRequestDTO.type == 'w'}">작성자</option>
                        <option value="tc" th:selected="${pageRequestDTO.type == 'tc'}">제목+내용</option>
                        <option value="tcw" th:selected="${pageRequestDTO.type == 'tcw'}">제목+내용+작성자</option>
                    </select>
                </div>
                <input type="text" class="form-control" name="keyword" id="keyword"
                       style="border-radius: 5px;" th:value="${pageRequestDTO.keyword}"/>
                <div class="input-group-append" style="margin-left:10px;">
                    <button class="btn btn-outline-primary btnSrch">Search</button>
                </div>
            </div>
        </form>
        <table class="table table-striped">
            <thead>
            <tr>
                <th>Gno</th>
                <th>Title</th>
                <th>Writer</th>
                <th>RegDate</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="guestbookDto : ${result.dtoList}" style="cursor:pointer"
                onmouseover="this.style.background='#d6e6ff'"
                onmouseout="this.style.background='white'"
                th:onclick="goRead(
                    [[${guestbookDto.gno}]],[[${result.page}]],
                    [[${pageRequestDTO.type}]],[[${pageRequestDTO.keyword}]]
                )">
                <td>[[${guestbookDto.gno}]]</td>
                <td>[[${guestbookDto.title}]]</td>
                <td>[[${guestbookDto.writer}]]</td>
                <td>[[${#temporals.format(guestbookDto.regDate,
                    'yyyy/MM/dd hh:mm')}]]</td>
            </tr>
            </tbody>
        </table>
        <ul class="pagination h-100 justify-content-center align-items-center">
            <li class="page-item" th:if="${result.prev}">
                <a class="page-link" tabindex="-1"
                   th:href="@{/guestbook/list(page=${result.start-1})}"
                >Prev</a>
            </li>
            <li th:class="'page-item' +${result.page == page?' active':''} "
                th:each="page: ${result.pageList}">
                <a class="page-link" th:href="@{/guestbook/list(page=${page},type=${pageRequestDTO.type},keyword=${pageRequestDTO.keyword})}">[[${page}]]</a>
            </li>
            <li class="page-item" th:if="${result.next}">
                <a class="page-link" th:href="@{/guestbook/list(page=${result.end+1})}">Next</a>
            </li>
        </ul>
        <div class="modal fade" id="myModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h1 class="modal-title fs-5" id="exampleModalLabel">Modal title</h1>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body"></div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                        <!-- <button type="button"  class="btn btn-primary">Save changes</button> -->
                    </div>
                </div>
            </div>
        </div>
        <script th:inline="javascript">
            window.onload = () => {
                // 등록 후 알림창 띄우는 파트 start
                var msg = [[${msg}]]
                if(msg) {
                    const myModal = new bootstrap.Modal(document.querySelector('#myModal'),
                    {backdrop: true});
                    document.querySelector(".modal-body").innerHTML=`<p>${msg}되었습니다.</p>`
                    document.querySelector("#exampleModalLabel")
                        .innerHTML=`<p>${msg.split(" ")[2]}창</p>`
                    myModal.show()
                }
                history.replaceState({}, null, null)
                // 등록 후 알림창 띄우는 파트 end

                // 검색처리 start
                frmSrch = document.querySelector("#frmSrch")
                btnSrch = document.querySelector(".btnSrch")
                type = document.querySelector("#type")
                keyword = document.querySelector("#keyword")
                btnSrch.onclick = e => {
                    e.preventDefault()
                    // 전체보기가 아닐 경우 keyword 값 있는지 확인
                    if(!type.options[0].selected){
                        if(keyword.value == "") {
                            keyword.setAttribute('placeholder','검색어를 넣어주세요');
                            keyword.focus();
                            return;
                        }
                    }
                    frmSrch.submit();
                }
                // 검색 조건(type, keyword)이 있는 경우 false, 아니면 true
                const requestKeyword = /*[[${pageRequestDTO.keyword}]]*/'keyword'
                keyword.disabled = requestKeyword?false:true;
                //btnSrch.disabled = requestKeyword?false:true;

                type.onchange = () => {
                    if(type.options[0].selected){
                        keyword.value = '';keyword.disabled = true;
                        //btnSrch.disabled = true;
                    } else {
                       keyword.disabled = false;
                       //btnSrch.disabled = false;
                    }
                }

            }
            function goRead(gno, page, type, keyword){
                let url = /*[[@{/guestbook/read}]]*/'url'
                location.href = url + `?gno=${gno}&page=${page}&type=${type}&keyword=${keyword}`
            }
        </script>
    </th:block>
</th:block>

</html>